# *DATA STRUCTURE*

Q.1.What are data structures, and why they are importanat?
Ans.Data structures are fundamental ways of organizing and storing data so it can be accessed and manipulated efficiently. They are important because they allow programs to manage data in a structured manner, leading to faster execution and easier-to-understand code.
(i) They are important for organising data, storing data, efficeinetly.

Q.2 Explain the differnece between mutable and immutable data types with examples.
Ans. mutable data types can be changed after they are created, while immutable data types cannot be modified once they are initialized. Examples of mutable data types include lists and dictionaries, while examples of immutable data types include strings and tuples.

Q.3. What are the main differences between lists and tuple in Python?
Ans.The main difference between lists and tuples in Python lies in their mutability. Lists are mutable, meaning their elements can be changed after creation, while tuples are immutable, meaning their elements cannot be modified once create

Q.4. Describe how dictionaries store data.
Ans.Dictionaries store data as unordered collections of key-value pairs. Each value within the dictionary is associated with a unique key, which acts as an identifier. This key-value structure allows for efficient data retrieval, as you can access a specific value by referencing its corresponding key.

Q.5. Why might you use a set instead of a list in Python?
Ans.Sets and lists are both used to store collections of items in Python, but they have different characteristics that make them suitable for different use cases. Here's why you might use a set instead of a list:
Uniqueness:
Sets automatically remove duplicate values. If you need to ensure that all elements in a collection are unique, a set is more efficient than a list.
Membership testing:
Checking if an element exists in a set is faster than checking in a list, especially for large collections. Sets use a hash table for storage, allowing for near-constant time lookups, while lists require iterating through the elements.
Set operations:
Sets provide built-in operations like union, intersection, and difference, which can be useful for tasks involving comparing or combining collections.
Order is not important:
Sets do not maintain the order of elements. If the order of elements matters, a list should be used instead.
Mutability:
Sets are mutable, meaning you can add or remove elements after creation. However, you cannot change an element within a set.

Q.6. What is a string in Python , and how is it different from a list
Ans. A string is a sequence of characters enclosed in single or double quotes. It's used to represent text data. A list, on the other hand, is an ordered collection of items enclosed in square brackets, and it can hold different data types (not just characters). The key difference is that strings are immutable (cannot be changed once created), while lists are mutable (can be modified).

Q.7. How do tuples ensure data integrity in Python ?
Ans.Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its contents cannot be changed, added to, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifecycle, preventing accidental or unauthorized modifications.

Q.8. What is a hash table, and how does it realate to dictionaries in Python ?
Ans.A hash table is a collection of key-value pairs where each key is hashed (converted into an index) to determine its location in an array (or "bucket"). This allows for fast lookups, insertions, and deletions, with an average time complexity of O(1).
In Python, dictionaries are implemented as hash tables. When we create a dictionary, Python uses a hash function to determine where to store each key-value pair within the underlying hash table.

Q.9.Can lists contain different data types in Python?
Ans. Yes, lists conatin different data types means it can store heterogenous data in their container.

Q.10.Explain why strings are immutable in Python.
Ans. Strings are immutable because of several raeson.it is allocated a fixed blocks is it is mutable would requires reallocating memory,which is time consuming operation. Immutability ensures that strings are predictable and efficient.

Q.11. What advantages do dictionaries offer over lists for ceratin tasks?
Ans. 1 - Dictionaries in Python offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

2) Easy to understand key value pairs: Dictionaries consist of key value pairs, making it easier to associate and access relevant data together.

3) Dynamic data structure: Dictionaries in Python are mutable, meaning you can add, update, or remove key value pairs as needed, providing flexibility in managing data.

4) Efficient for storing large amounts of data: Due to its efficient data retrieval mechanism, dictionaries are ideal for storing and accessing large datasets quickly.

5) Built in methods for manipulation: Python dictionaries offer a variety of built in methods such as `get()`, `keys()`, `values()`, and `items()` for easy data manipulation and iteration.

6) Useful for mapping relationships: Dictionaries are commonly used to map relationships between items, making it easy to store and retrieve interconnected data.

Q.12. Describe a scenario where using a tuple would be prefreable over a list.
Ans. A tuple should be used over a list when you want to represent a fixed, immutable sequence of data, like a coordinate point (x, y) or a set of constants. This is because tuples are designed to be immutable, ensuring the data remains unchanged, which can be beneficial in situations where data integrity and consistency are significant.

Q.13.How do sets handle duplicate values in Python?
Ans. n Python, sets are designed to store only unique elements. When attempting to add a duplicate value to a set, it is automatically ignored, and the set remains unchanged. This behavior ensures that sets always contain distinct values, making them useful for tasks such as removing duplicates from a list or checking for membership efficiently.
for example the code is given in the bellow cell

In [ ]:
my_set= {1,2,3,3,2,4,5,4}
print(my_set)

{1, 2, 3, 4, 5}

Q.14. How does the "in" keyword work differently for lists and dictionaries?
Ans. The in keyword in Python functions differently for lists and dictionaries. For lists, it checks if a given value exists as a value within the list, while for dictionaries, it checks if a given value exists as a key within the dictionary.


Lists:
The in operator, when used with a list, iterates through the list elements and checks if the given value matches any of them.
If the value is found within the list (as a value, not an index), it returns True; otherwise, it returns False.
The efficiency of this search is linear (O(n)), meaning the time it takes to find the value increases proportionally with the length of the list.


Dictionaries:
The in operator, when used with a dictionary, checks if the given value exists as a key in the dictionary.
It returns True if the value is found as a key; otherwise, it returns False.
Dictionaries use a hashing algorithm for key lookup, making the in operation very efficient (typically constant time - O(1)), regardless of the dictionary's size.

for example code is given to the next cell

In [ ]:
my_list =[1,2,3,4,5]
print(2 in my_list)

True

In [ ]:
my_dict={1,2,"a",5,"b","c",6}
print("b"in my_dict)

True

Q.15.Can you modify the elements of a tuple? Explain why or why not.
Ans.No, we  cannot directly modify the elements of a tuple in Python. Tuples are immutable data structures, meaning their elements cannot be changed after they are created. Attempting to assign a new value to an element within a tuple will raise a TypeError.
Because, tuples are designed for fixed, unchangeable collections of data, and their immutability provides benefits in terms of performance and data integrity.

Q.16.What is a nested dictionary, and give  an example of its use case?
Ans. A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for structuring data in a hierarchical way, where you can store complex, multi-layered information. A common use case is representing hierarchical data like family trees or organizational charts.

Q.17.Describe the time compexity of a accessing elements in a dictionary.
Ans. The time complexity of accessing an element in a dictionary  is typically O(1), meaning it takes constant time regardless of the dictionary's size. This is because dictionaries use hashing to map keys to their corresponding values, allowing for direct access to the desired value in a single step.

Q.18. In what situations are lists preferred over dictionaries?
Ans. Lists are preferred over dictionaries when the order of elements is crucial, or when we need to perform operations like appending or extending, which are not directly supported by dictionaries. Lists are also suitable for scenarios where you want to access elements using their numerical index.

Q.19.Why are dictionaries considerd unordered, and how does that affect data retrival?
Ans. Dictionaries are considered unordered because they don't maintain the order in which elements are added. This means that when we access or iterate through a dictionary, the order of the key-value pairs is not guaranteed to be the same as the order in which they were inserted. This lack of inherent order affects data retrieval as it means we can't rely on position to access an element, and instead must use the key.

Q.20. Explain the difference between a list and a dictionary in terms of data retrival.
Ans. In terms of data retrieval, a dictionary excels at fast lookups by key, while a list is better suited for sequential access by index. Dictionaries use a hash-based approach, allowing for nearly instantaneous retrieval of a value when the key is known, whereas lists require traversing the list sequentially until the desired element is found.

#** DATA STRUCTRURE PRACTICAL QUESTIONS**

In [ ]:
# Q.1 Write a code to create a string with your name and print it.
my_name="Aryan"
print(my_name)

Aryan

In [1]:
#Q.2 Write a code to find the length of the string "Hello World".
my_string= "Hello World"
print(len(my_string))

11

In [2]:
# Q.3 Write a code slice the first 3 characters from the string "Python programming".
my_string="Python programming"
print(my_string[0:3])

Pyt

In [4]:
# Q.4 Write a code to convert the string "hello" to uppercase.
my_string="hello"
print(my_string.upper())

HELLO

In [5]:
# Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
my_string="I like apple"
print(my_string.replace("apple","orange"))

I like orange

In [6]:
# Q.6 Write a code to create a list with numbers 1 to 5 amd print it.
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [7]:
# Q.7 Write a code append the number 10 to the list [1,2,3,4].
my_list=[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
# Q.8 Write a code to remove the number 3 from the list [1,2,3,4,5].
my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [11]:
# Q.9 Write a code access the second element in the list ['a','b','c','d']
my_list=['a','b','c','d']
print(my_list[1])

b

In [12]:
# Q.10 Write a code to reverse the list [10,20,30,40,50].
my_list=[10,20,30,40,50]
print(my_list[::(-1)])

[50, 40, 30, 20, 10]

In [14]:
# Q.11 Write a code to create a tuple with the elements 100,200,300 and print it.
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

In [16]:
# Q.12  Write a code to access the second-to-last element of the tuple('red','green','blue','yellow')
my_tuple=('red','green','blue','yellow')
print(my_tuple[1::])

('green', 'blue', 'yellow')

In [20]:
# Q.13 Write a code to find the minimum number in the tuple (10,20,5,15)
my_tuple=(10,20,5,15)
min_number= min(my_tuple)
print(min_number)

5

In [24]:
# Q.14 Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit')
my_tuple=('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

In [25]:
# Q.15  Write a code to create a tuple containing three different fruits and check "kiwi" is in it.
my_tuple=("apple","kiwi","orange")
print("kiwi" in my_tuple)

True

In [26]:
# Q.16 Write a code to create a set with the elements 'a','b','c' and print it.
my_set={'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

In [29]:
# Q.17 Write a code to clear all elements from the set {1,2,3,4,5}.
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [30]:
# Q.18 Write a code to remove the elemnt 4 from the set {1,2,3,4}
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [31]:
# Q.19 Write a code to find the union of two sets {1,2,3} and {3,4,5}.
my_set1={1,2,3}
my_set2={3,4,5}
print(my_set1.union(my_set2))

{1, 2, 3, 4, 5}

In [32]:
# Q.20Write a code to find the intersection of two sets {1,2,3}and {2,3,4}.
my_set1={1,2,3}
my_set2={2,3,4}
print(my_set1.intersection(my_set2))

{2, 3}

In [33]:
# Q.21 Write a code to create a dictionary with the keys "name", "age",and "city" and print it.
my_dict={"name": "Aryan","age": "27","city":"delhi"}
print(my_dict)

{'name': 'Aryan', 'age': '27', 'city': 'delhi'}

In [36]:
# Q.22 Write a code to add a new key-value pair "country":"USA" to the dictionary{'name':'Alice','age':25}
my_dict={'name':'John','age':25}
my_dict["country"]="USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
# Q.23 Write a code to access the value associate with the key "name" in the dictionary {'name': 'Alice','age':30}
my_dict={'name': 'Alice','age':30}
print(my_dict['name'])

Alice

In [38]:
# Q.24  Write a code to remove the key "age" from the dictionary {'name':'Bob','age':22,'city':'New york'}.
my_dict={'name':'Bob','age':22,'city':'New york'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New york'}

In [41]:
# Q.25  Write a code to check if the key "city" exists in the dictionary {'name':'Alice','city': 'New york'}.
my_dict= {'name':'Alice','city': 'New york'}
print('city' in my_dict)

True

In [42]:
# Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list=[1,2,3,4,5]
my_tuple=(1,2,3,4,5)
my_dict={1,2,3,4,5}
print(my_list,my_tuple,my_dict)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {1, 2, 3, 4, 5}

In [49]:
# Q.27  Write a code to create a list of 5 random numbers between 1 and 100,sort it in ascending order, and print the result.(replaced).
import random
my_list=[random.randint(1,100)for i in range(5)]
my_list.sort()
print(my_list)

[3, 6, 16, 55, 68]

In [50]:
# Q.28 Write a code to create a list with strings and print the elements at the third index.
my_list=["apple","banana","orange","kiwi","papaya"]
print(my_list[3])

kiwi

In [51]:
# Q.29 Write a code to combine two dictionaries into one and print the result.
my_dict1={'a':20,'b':30}
my_dict2={'c':40,'d':50}
my_dict1.update(my_dict2)
print(my_dict1)

{'a': 20, 'b': 30, 'c': 40, 'd': 50}

In [52]:
# Q.30 Write a code to convert a list of string into a set.
my_list=["hindi","english","science","maths","sst"]
my_list=set(my_list)
print(my_list)

{'science', 'english', 'hindi', 'maths', 'sst'}